/* style.css */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 50px;
    margin-left: 60px;
    margin-right: 60px;
    column-gap: 60px;  
}

.left-column {
    flex: 1;
    padding: 30px 40px;

}

.left-column h1 {
    font-size: 30px;
}

.message p {
    padding-left: 380px;
}

.message p a {
    text-decoration: none;
}

.social-sign-in {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    margin-bottom: 40px;
    width: 100%;
}

.social-sign-in button {
    all: unset;
    outline: revert;
    border-radius: 10px;
    text-align: center;
    border-width: 1px;
    padding: 12px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #ffff;
    border: 1px solid#CCCCCC; 
    color: #0a0a0a;   
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

.or-text {
    color: #999;
    font-weight: bold;
}

.left-column form {
    margin-top: 20px;
}

.left-column label {
    margin: 10px 5px;
    display: block;
    font-weight: bold;
}

.left-column input[type="text"] {
    width: calc(100% - 30px); 
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    display: inline-block;
}

.left-column .submit-btn {
    all: unset;
    outline: revert;
    border-radius: 20px;
    text-align: center;
    border-width: 1px;
    padding: 13px 15px;  
    width: 50%;  
    font-size: 14px;
    cursor: pointer;
    background: linear-gradient(43deg,#637ec3 0%,#8af1ea 46%,#c5f143 100%);
    border-color:  #CCCCCC;
    color: #ffff;
    width: 100%;
}

.right-column {
    background-image: linear-gradient(43deg,#637ec3 0%,#8af1ea 46%,#c5f143 100%);
    flex: 1;
    padding: 30px 40px;     
}

.right-column .content {
    position: absolute;
    top: 50%;
    bottom: 50%;    
}

.right-column .content h1 {
    font-size: 40px;
    font-weight: bold;
    color: #ffff;
}

.right-column .content h4 {
    font-size: 19px;
    font-weight: bold;
    color: #ffff;
}

.right-column .content p {
    font-size: 14px;
    color: #ffff;
}

