.container {
    display: flex;
}

.left-column{
    flex: 1;
    padding: 20px;
}

.left-column h1{
    font-size: 30px;
}

.left-column button{
    width:40%;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    border-color: #ECEEEF;
}

.left-column form{
    margin-top: 20px;
}

.left-column input{
    width: 30%;
    margin-bottom: 10px;
    padding: 15px;
}

.left-column .button {
    text-align: center;
}

.left-column .submit-btn {
    background-color: #6a6f78;
    color: white;
    border: none;
    width: 30%;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
}